html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
.wrapper {
	min-height: 100vh;
}

body {
	margin: 0 0;
	background: url(./img/thugger-bg.jpg) center center;
	background-size: cover;
	background-color: #134315;
	background-blend-mode: multiply;
	box-shadow: 20px 20px 30px #2a672b;
	font-family: sans-serif;
	color: #fff;
}

.wrapper {
	max-width: 1170px;
	padding: 2em 0;
	margin: 0 auto;
	/* flexy Stuff */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper header .heading {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.wrapper header .emojis {
	font-size: 2em;
	margin: 0 0.3em;
	opacity: 0.65;
}

.wrapper header .heading h1 {
	font-family: 'Lemon', cursive;
	margin: 0;
	letter-spacing: 1px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #6efd70b2;
}

.wrapper header .instructions {
	font-family: 'Kite One', sans-serif;
	text-align: center;
	letter-spacing: -0.5px;
	padding: 0 10px;
}

.wrapper header .instructions a {
	border-color: #6efd70b2;
	background: linear-gradient(to top, #6efd70b2 50%, #0000 50%) left top;
	background-size: 100% 200%;
	text-decoration: none;
	color: #6efd70b2;
	padding: 0 10px;
	border-radius: 0.15em;
	font-weight: 900;
	transition: all 200ms ease-out;
}

.wrapper header .instructions a:hover {
	color: #fff;
	text-decoration: none;
	padding: 0 10px;
	background-position: left bottom;
}

/* Content Flex Layout */
.wrapper .content .keys {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1em;
}

.wrapper .content .keys .key {
	flex: 1 0 25%;
}

/* Content Style Section */
.wrapper .content .keys .key {
	border: 0.25em solid #082509;
	border-radius: 0.5em;
	font-size: 1.2em;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	margin: 0.3em;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 0.5em black;
	cursor: pointer;
	transition: all 200ms ease-out;
}

.wrapper .content .keys .key:hover {
	border: 0.25em solid #1fcc25;
}

.wrapper .content .keys .playing {
	transform: scale(1.1);
	border-color: #6efd70;
	box-shadow: 0 0 1em #6efd70;
}

.wrapper .content .keys kbd {
	display: block;
	font-size: 1.5em;
}

.wrapper .content .keys .sound-label {
	font-size: 0.65em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: #91ffbd;
}

/* Young Thug Image + Animation */
.thuggy {
	position: absolute;
	bottom: 0;
	left: -300px;
	transition: all 0.07s ease-in-out;
	width: 200px;
}

.activate-thuggy {
	animation-name: activated-thuggy;
	animation-duration: 1300ms;
}

@keyframes activated-thuggy {
	0% {
		transform: translate(0, 0);
		opacity: 0.1;
	}

	50% {
		transform: translate(300px, 0px);
		opacity: 0.8;
	}

	100% {
		transform: translate(0, 0);
		opacity: 0.2;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
	.wrapper header .heading h1 {
		font-size: 3.5em;
	}
	.wrapper header .instructions {
		font-size: 1.25em;
	}

	.wrapper header .emojis {
		font-size: 4em;
	}



	.thuggy {
		width: 250px;
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) {
	.wrapper .content .keys .key {
		flex: 1 0 20%;
	}

	.wrapper .content .keys .key {
		font-size: 0.85em;
	}

	.wrapper .content .keys kbd {
		font-size: 3.25em;
	}
}
