*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.7;


}

html, body { height: 100%; }

.wrapper {
	background: url(https://static.hiphopdx.com/2018/06/YT-Durk-e1529690906411-749x561.jpg)
		center center;
	background-size: cover;
	background-color: #134315;
	background-blend-mode: multiply;
	box-shadow: 20px 20px 30px #2a672b;
	position: relative;
	margin: auto;
	height:100%;
}



.container {
	position: absolute;
	width: 100%;
	max-width: 80rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	font-size: 10rem;
	text-align: center;
	margin: 0;

	font-family: 'Yellowtail', cursive;
	color: white;
	letter-spacing: 0.6rem;

	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #6efd70;
}

p.instructions {
	font-family: 'Kite One', sans-serif;
	color: #fff;
	font-size: 2rem;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 5rem;
	}
}

.keys {
	margin-top: 1rem;
}
.key {
	border: 0.4rem solid #082509;
	border-radius: 0.5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 0.5rem black;
}

.playing {
	transform: scale(1.1);
	border-color: #6efd70;
	box-shadow: 0 0 1rem #6efd70;
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: #91ffbd;
}

@media only screen and (max-width: 768px) {
	.sound {
		font-size: 1rem;

		letter-spacing: 0rem;
	}
}

/* Young Thug Image + Animation */
.thuggy {
	position: absolute;
	bottom: 0;
	left: -300px;
	transition: all 0.07s ease-in-out;
	width: 250px;
}

@media only screen and (max-width: 768px) {
	.thuggy {
		width: 200px;
	}
}

.activate-thuggy {
	animation-name: movingThug;
	animation-duration: 1300ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes movingThug {
	0% {
		transform: translate(0, 0);
		opacity: 0.1;
	}

	50% {
		transform: translate(300px, 0px);
		opacity: 0.8;
	}

	100% {
		transform: translate(0, 0);
		opacity: 0.2;
	}
}
