html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
  color:#1fcc25;
  text-decoration: none;
  transition: all 200ms ease-out;
}
a:hover {
  color:#106b13;
  border-bottom:2px dotted #106b13;
}

body {
	background: url(./img/thugger-bg.jpg) center center;
	background-size: cover;
	background-color: #134315;
	background-blend-mode: multiply;
	font-family: sans-serif;
	color: #fff;
}

.thug__container {
  display:flex;
  display: flex;
  flex-flow:row wrap;
	justify-content: center;
}
.thug__wrapper {
	max-width: 1170px;
  width:100%;
  padding:0em 0;
}

.header__socials {
	text-align: right;
}

.header__socials-twitter {
	font-family: 'Kite One', sans-serif;
	border: 2px solid transparent;
	text-decoration: none;
	color: #1fcc25;
	padding: 10px 15px;
	transition: all 200ms ease-out;
}

.header__socials-twitter:hover {
	color: #1fcc25;
	border-radius: 0.25em;
	border: 2px solid #1fcc25;
}

.header__heading {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin-top:1em;
}

.header__heading-emoji {
	font-size: 2em;
	margin: 0 0.3em;
	opacity: 0.5;
}

.header__heading-text {
	font-family: 'Lemon', cursive;
	margin: 0;

  font-size:1.5em;
	letter-spacing: 1px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #6efd70b2;
}

.header__intro {
	font-family: 'Kite One', sans-serif;
	text-align: center;
	padding: 0 10px;
}

/* Content Flex Layout */
.content__keys {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1em;
  gap:.3em;
}

.content__keys-item {
	flex: 1 0 25%;
}

/* Content Style Section */
.content__keys-item {
	border: 0.25em solid #0c480e;
	border-radius: 0.5em;
  font-size: 0.85em;
  padding: .75em 0.5em;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 0.5em black;
	cursor: pointer;
	transition: all 200ms ease-out;
}

.content__keys-item:hover {
	border: 0.25em solid #1fcc25;
}

.content__keys .playing {
	transform: scale(1.1);
	border-color: #6efd70;
	box-shadow: 0 0 1em #6efd70;
}

.content__keys-kbd {
	display: block;
	font-size: 1.5em;
}

.content__keys-label {
	font-size: 0.65em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: #91ffbd;
}

/* Thuggy on Hover */
.content__keys-item {position:relative;  }
.content__keys-item:after {
	position:absolute;
	content:'';
	background-image:url('./img/yt-1a.png');
	width:105px;
	height:97px;
	top:0;
	left:0;
	opacity:0;
	transition: all .2s ease-in-out;
}

.content__keys-item:hover::after {
    transform: translate(0px, -100px);
    opacity:1;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .thug__wrapper {
    padding:5em 0;
  }

  .header__heading-emoji {
		font-size: 4em;
	}

	.header__heading-text {
		font-size: 3.5em;
	}
	.header__intro {
		font-size: 1.25em;
	}


  .content__keys-item {
		flex: 1 0 15%;
    font-size: 1.2em;
    padding: 1rem 0.5rem;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.content__keys-kbd {
		font-size: 2em;
	}

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

