html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
  color:#1fcc25;
  text-decoration: none;
  transition: all 200ms ease-out;
}
a:hover {
  color:#106b13;
  border-bottom:2px dotted #106b13;

}

html,
body,
.wrapper {
	min-height: 100%;
	min-height: -moz-available;
	min-height: -webkit-fill-available;
	min-height: fill-available;

}

body {
  position:relative;
	margin: 0 0;
	background: url(/img/thugger-bg.jpg) center center;
	background-size: cover;
	background-color: #134315;
	background-blend-mode: multiply;
	font-family: sans-serif;
	color: #fff;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	/* flexy Stuff */
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.wrapper .socials {
	text-align: right;
	padding: 1.5em 0;
}
.wrapper .socials a {
	font-family: 'Kite One', sans-serif;
	border: 2px solid transparent;
	text-decoration: none;
	color: #1fcc25;
	padding: 10px 15px;
	transition: all 200ms ease-out;
}

.wrapper .socials a:hover {
	color: #1fcc25;
	border-radius: 0.25em;
	border: 2px solid #1fcc25;
}

.wrapper header .heading {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.wrapper header .emojis {
	font-size: 2em;
	margin: 0 0.3em;
	opacity: 0.5;
}

.wrapper header .heading h1 {
	font-family: 'Lemon', cursive;
	margin: 0;
	letter-spacing: 1px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #6efd70b2;
}

.wrapper header .instructions {
	font-family: 'Kite One', sans-serif;
	text-align: center;
	padding: 0 10px;
}

/* Content Flex Layout */
.wrapper .content .keys {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1em;
}

.wrapper .content .keys .key {
	flex: 1 0 20%;
}

/* Content Style Section */
.wrapper .content .keys .key {
	border: 0.25em solid #0c480e;
	border-radius: 0.5em;
	font-size: 1.2em;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	margin: 0.3em;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 0.5em black;
	cursor: pointer;
	transition: all 200ms ease-out;
}

.wrapper .content .keys .key:hover {
	border: 0.25em solid #1fcc25;
}

.wrapper .content .keys .playing {
	transform: scale(1.1);
	border-color: #6efd70;
	box-shadow: 0 0 1em #6efd70;
}

.wrapper .content .keys kbd {
	display: block;
	font-size: 1.5em;
}

.wrapper .content .keys .sound-label {
	font-size: 0.65em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: #91ffbd;
}

/* Thuggy on Hover */
.wrapper .content .keys .key {position:relative;  }
.wrapper .content .keys .key:after {
	position:absolute;
	content:'';
	background-image:url('/img/yt-1a.png');
	width:105px;
	height:97px;
	top:0;
	left:0;
	opacity:0;
	transition: all .2s ease-in-out;
}

.wrapper .content .keys .key:hover::after {
    transform: translate(0px, -100px);
    opacity:1;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
	.wrapper header .heading h1 {
		font-size: 3.5em;
	}
	.wrapper header .instructions {
		font-size: 1.25em;
	}

	.wrapper header .emojis {
		font-size: 4em;
	}

	.thuggy {
		width: 250px;
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) {
	html,
	body,
	.wrapper {
		min-height: 100vh;
	}

	.wrapper .content .keys .key {
		flex: 1 0 20%;
	}

	.wrapper .content .keys .key {
		font-size: 0.85em;
	}

	.wrapper .content .keys kbd {
		font-size: 3.25em;
	}
}
